In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df = pd.read_csv('merged_dataset_1000_rows.csv')
df.head(5)

,order_id,date,item_name,item_type,item_price,quantity,transaction_amount,transaction_type,received_by,time_of_sale,...,email_2,website,open_hours,latitude,longitude,facebook,twitter,instagram,pinterest,youtube
0,1,07-03-2022,Aalopuri,Fastfood,20,13,260,NaN,Mr.,Night,...,NaN,NaN,"Mon : 7:00 AM - 11:00 PM, Tue : 7:00 AM - 11:0...",33.435408,-94.077998,NaN,NaN,NaN,NaN,NaN
1,2,8/23/2022,Vadapav,Fastfood,20,15,300,Cash,Mr.,Afternoon,...,NaN,NaN,"Mon : 24 hr, Tue : 24 hr, Wed : 24 hr, Thu : 2...",36.056683,-94.187932,NaN,NaN,NaN,NaN,NaN
2,3,11/20/2022,Vadapav,Fastfood,20,1,20,Cash,Mr.,Afternoon,...,NaN,NaN,"Mon : 24 hr, Tue : 24 hr, Wed : 24 hr, Thu : 2...",36.124410,-94.143977,NaN,NaN,NaN,NaN,NaN
3,4,02-03-2023,Sugarcane juice,Beverages,25,6,150,Online,Mr.,Night,...,NaN,NaN,"Mon : 24 hr, Tue : 24 hr, Wed : 24 hr, Thu : 2...",36.193670,-94.176187,NaN,NaN,NaN,NaN,NaN
4,5,10-02-2022,Sugarcane juice,Beverages,25,8,200,Online,Mr.,Evening,...,NaN,NaN,"Mon : 24 hr, Tue : 24 hr, Wed : 24 hr, Thu : 2...",32.400140,-90.143592,NaN,NaN,NaN,NaN,NaN

In [34]:
df.columns

Index(['order_id', 'date', 'item_name', 'item_type', 'item_price', 'quantity',
       'transaction_amount', 'transaction_type', 'received_by', 'time_of_sale',
       'name', 'url', 'street_address', 'city', 'state', 'zip_code', 'country',
       'phone_number_1', 'phone_number_2', 'fax_1', 'fax_2', 'email_1',
       'email_2', 'website', 'open_hours', 'latitude', 'longitude', 'facebook',
       'twitter', 'instagram', 'pinterest', 'youtube'],
      dtype='object')

In [35]:
df1 = df.drop(columns=['transaction_type','order_id','date','received_by','time_of_sale','name','url','street_address','state','phone_number_2','fax_1','fax_2','email_1','email_2','website','open_hours','latitude','longitude','facebook','twitter','instagram','pinterest','youtube'])
df1.columns

Index(['item_name', 'item_type', 'item_price', 'quantity',
       'transaction_amount', 'city', 'zip_code', 'country', 'phone_number_1'],
      dtype='object')

In [36]:
df1.head(2)

,item_name,item_type,item_price,quantity,transaction_amount,city,zip_code,country,phone_number_1
0,Aalopuri,Fastfood,20,13,260,Texarkana,75501.0,US,(903) 832-2727
1,Vadapav,Fastfood,20,15,300,Fayetteville,72701.0,US,(479) 443-2217

In [37]:
df1.isnull().sum()

item_name             0
item_type             0
item_price            0
quantity              0
transaction_amount    0
city                  1
zip_code              1
country               1
phone_number_1        1
dtype: int64

In [38]:
df1= df1.dropna()

In [39]:
df1.isnull().sum()

item_name             0
item_type             0
item_price            0
quantity              0
transaction_amount    0
city                  0
zip_code              0
country               0
phone_number_1        0
dtype: int64

In [44]:
df1['item_type'].unique()

array(['Fastfood', 'Beverages'], dtype=object)

In [48]:
df1['quantity'].unique()

array([13, 15,  1,  6,  8, 10,  9, 14,  5,  4,  3, 11, 12,  2,  7],
      dtype=int64)

In [49]:
df1.columns

Index(['item_name', 'item_type', 'item_price', 'quantity',
       'transaction_amount', 'city', 'zip_code', 'country', 'phone_number_1'],
      dtype='object')

In [50]:

segmented_clients = df1.groupby('item_type')

# View the first few rows of each segment
for item_type, group in segmented_clients:
    print(f"Segment for Item Type: {item_type}")
    print(group.head())  # Shows the first few rows for each segment
    print("\n")


summary_stats = segmented_clients['transaction_amount'].describe()


print("Summary Statistics for Transaction Amount by Item Type:")
print(summary_stats)

Segment for Item Type: Beverages
          item_name  item_type  item_price  quantity  transaction_amount  \
3   Sugarcane juice  Beverages          25         6                 150
4   Sugarcane juice  Beverages          25         8                 200
6   Sugarcane juice  Beverages          25         9                 225
19      Cold coffee  Beverages          40        10                 400
20      Cold coffee  Beverages          40        15                 600

          city  zip_code country  phone_number_1
3   Springdale   72762.0      US  (479) 750-2754
4    Ridgeland   39157.0      US  (601) 956-6466
6      Jackson   39202.0      US  (601) 896-0074
19      Tucson   85712.0      US  (520) 327-2684
20      Tucson   85713.0      US  (520) 294-2116


Segment for Item Type: Fastfood
  item_name item_type  item_price  quantity  transaction_amount          city  \
0  Aalopuri  Fastfood          20        13                 260     Texarkana
1   Vadapav  Fastfood          20        15                 300  Fayetteville
2   Vadapav  Fastfood          20         1                  20  Fayetteville
5   Vadapav  Fastfood          20        10                 200      Richland
7  Panipuri  Fastfood          20        14                 280        Mobile

   zip_code country  phone_number_1
0   75501.0      US  (903) 832-2727
1   72701.0      US  (479) 443-2217
2   72703.0      US  (479) 442-2226
5   39218.0      US  (601) 936-2473
7   36608.0      US  (251) 607-0702


Summary Statistics for Transaction Amount by Item Type:
           count        mean         std   min    25%    50%    75%    max
item_type
Beverages  314.0  275.127389  158.185547  25.0  150.0  280.0  375.0  600.0
Fastfood   685.0  275.591241  222.493464  20.0  100.0  220.0  350.0  900.0

In [51]:
for item_type, group in segmented_clients:
    group.to_csv(f"segmented_clients_{item_type}.csv", index=False)

In [52]:
summary_quantity = segmented_clients['quantity'].sum()
print("Summary of Quantities by Item Type:")
print(summary_quantity)

Summary of Quantities by Item Type:
item_type
Beverages    2639
Fastfood     5520
Name: quantity, dtype: int64

In [56]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

# Assuming df1 is your DataFrame
df1.dropna(subset=['transaction_amount'], inplace=True)

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Correctly reference df1 for encoding
df1['item_name'] = label_encoder.fit_transform(df1['item_name'])
df1['item_type'] = label_encoder.fit_transform(df1['item_type'])
df1['city'] = label_encoder.fit_transform(df1['city'])
df1['country'] = label_encoder.fit_transform(df1['country'])

# Features and target
X = df1[['item_name', 'item_type', 'item_price', 'quantity', 'city', 'zip_code', 'country']]
y = df1['transaction_amount']  # Target variable

# Train-test split (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Feature scaling (normalize the numeric columns)
scaler = StandardScaler()
X_train[['item_price', 'quantity', 'zip_code']] = scaler.fit_transform(X_train[['item_price', 'quantity', 'zip_code']])
X_test[['item_price', 'quantity', 'zip_code']] = scaler.transform(X_test[['item_price', 'quantity', 'zip_code']])

# Train a Random Forest Regressor model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

# Print evaluation metrics
print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("R-squared (R2):", r2)

Mean Absolute Error (MAE): 0.5897500000000011
Mean Squared Error (MSE): 2.893587500000017
R-squared (R2): 0.9999282942706956

## Automation

In [57]:
# Assuming 'df1' is the segmented data based on 'item_type'
targeted_customers = df1[df1['quantity'] > 5][['item_type', 'quantity', 'phone_number_1']]

# Display the first few rows of targeted customers
print(targeted_customers.head())

   item_type  quantity  phone_number_1
0          1        13  (903) 832-2727
1          1        15  (479) 443-2217
3          0         6  (479) 750-2754
4          0         8  (601) 956-6466
5          1        10  (601) 936-2473

In [58]:
! pip install twilio

Collecting twilio
  Downloading twilio-9.4.1-py2.py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: requests>=2.0.0 in c:\users\u\appdata\local\programs\python\python312\lib\site-packages (from twilio) (2.32.3)
Collecting PyJWT<3.0.0,>=2.0.0 (from twilio)
  Downloading PyJWT-2.10.1-py3-none-any.whl.metadata (4.0 kB)
Collecting aiohttp>=3.8.4 (from twilio)
  Downloading aiohttp-3.11.11-cp312-cp312-win_amd64.whl.metadata (8.0 kB)
Collecting aiohttp-retry==2.8.3 (from twilio)
  Downloading aiohttp_retry-2.8.3-py3-none-any.whl.metadata (8.9 kB)
Collecting aiohappyeyeballs>=2.3.0 (from aiohttp>=3.8.4->twilio)
  Downloading aiohappyeyeballs-2.4.4-py3-none-any.whl.metadata (6.1 kB)
Collecting aiosignal>=1.1.2 (from aiohttp>=3.8.4->twilio)
  Downloading aiosignal-1.3.2-py2.py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: attrs>=17.3.0 in c:\users\u\appdata\local\programs\python\python312\lib\site-packages (from aiohttp>=3.8.4->twilio) (24.3.0)
Collecting frozenlist>=1.1.1 (from aiohttp>=3.8.4->twilio)
  Downloading frozenlist-1.5.0-cp312-cp312-win_amd64.whl.metadata (14 kB)
Collecting multidict<7.0,>=4.5 (from aiohttp>=3.8.4->twilio)
  Downloading multidict-6.1.0-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Collecting propcache>=0.2.0 (from aiohttp>=3.8.4->twilio)
  Downloading propcache-0.2.1-cp312-cp312-win_amd64.whl.metadata (9.5 kB)
Collecting yarl<2.0,>=1.17.0 (from aiohttp>=3.8.4->twilio)
  Downloading yarl-1.18.3-cp312-cp312-win_amd64.whl.metadata (71 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\u\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->twilio) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\u\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->twilio) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\u\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->twilio) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\u\appdata\local\programs\python\python312\lib\site-packages (from requests>=2.0.0->twilio) (2024.7.4)
Downloading twilio-9.4.1-py2.py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ----------- ---------------------------- 0.5/1.9 MB 3.4 MB/s eta 0:00:01
   ---------------------- ----------------- 1.0/1.9 MB 2.8 MB/s eta 0:00:01
   --------------------------------- ------ 1.6/1.9 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 1.9/1.9 MB 2.7 MB/s eta 0:00:00
Downloading aiohttp_retry-2.8.3-py3-none-any.whl (9.8 kB)
Downloading aiohttp-3.11.11-cp312-cp312-win_amd64.whl (437 kB)
Downloading PyJWT-2.10.1-py3-none-any.whl (22 kB)
Downloading aiohappyeyeballs-2.4.4-py3-none-any.whl (14 kB)
Downloading aiosignal-1.3.2-py2.py3-none-any.whl (7.6 kB)
Downloading frozenlist-1.5.0-cp312-cp312-win_amd64.whl (51 kB)
Downloading multidict-6.1.0-cp312-cp312-win_amd64.whl (28 kB)
Downloading propcache-0.2.1-cp312-cp312-win_amd64.whl (44 kB)
Downloading yarl-1.18.3-cp312-cp312-win_amd64.whl (90 kB)
Installing collected packages: PyJWT, propcache, multidict, frozenlist, aiohappyeyeballs, yarl, aiosignal, aiohttp, aiohttp-retry, twilio
Successfully installed PyJWT-2.10.1 aiohappyeyeballs-2.4.4 aiohttp-3.11.11 aiohttp-retry-2.8.3 aiosignal-1.3.2 frozenlist-1.5.0 multidict-6.1.0 propcache-0.2.1 twilio-9.4.1 yarl-1.18.3

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from twilio.rest import Client

# Filter data for quantity > 5
targeted_customers = df1[df1['quantity'] > 5][['item_type', 'quantity', 'phone_number_1']]

# Twilio credentials
account_sid = 'your_account_sid'  # Replace with your Twilio account SID
auth_token = 'your_auth_token'    # Replace with your Twilio authentication token
twilio_phone_number = 'your_twilio_phone_number'  # Replace with your Twilio phone number

# Initialize Twilio client
client = Client(account_sid, auth_token)

# Define message content
message_content = "Hello, we have special offers for you! Visit our store now and get discounts on your favorite items!"

# Send SMS to each targeted customer
for index, row in targeted_customers.iterrows():
    phone_number = row['phone_number_1']
    
    # Send SMS via Twilio API
    message = client.messages.create(
        body=message_content,
        from_=twilio_phone_number,
        to=phone_number
    )
    
    # Print message SID for confirmation
    print(f"Sent message to {phone_number}: {message.sid}")